name: TS packages

on:
  push:
    branches: [main]
    tags: ["**"]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  check-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.9"

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Biome CI
        run: bun run biome:ci

      - name: Typecheck
        run: bun run typecheck

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test:ts
